<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226162341039-p2jr77phudreui9irhq0omp19813o080.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226162341039-p2jr77phudreui9irhq0omp19813o080</string>
	<key>API_KEY</key>
	<string>AIzaSyBmlibNM9SPHlpCPN-GT1u4G5G8uH-rqdc</string>
	<key>GCM_SENDER_ID</key>
	<string>226162341039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.override.todo</string>
	<key>PROJECT_ID</key>
	<string>override-72c60</string>
	<key>STORAGE_BUCKET</key>
	<string>override-72c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226162341039:ios:ae2395365d33c59372d05a</string>
	<key>DATABASE_URL</key>
	<string>https://override-72c60.firebaseio.com</string>
</dict>
</plist>